IDSECURE_BASE_URL=https://main.idsecure.com.br:5000
IDSECURE_EMAIL=seu_email@hospital.com.br
IDSECURE_PASSWORD=sua_senha

PORT=3000
WEBHOOK_SECRET=seu_secret_aqui
VISITOR_ACCESS_HOURS=24

AWS_REGION=sa-east-1
AWS_ACCESS_KEY_ID=sua_access_key
AWS_SECRET_ACCESS_KEY=sua_secret_key
SES_FROM_EMAIL=remetente_verificado@seudominio.com.br
SES_ERROR_TO=felipe@hospitalpaulista.com.br
